<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己紹介</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/boston">Boston</a></li>
                <li><a href="/customer">Customer</a></li>
                <li><a href="/iris">Iris</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="/introduction">Introduction</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>プロダクション</h1>
        
        <div class="summary">
            <h2></h2>
            <p>あ</p>
        </div>

        <div class="class-analysis">
            <h2>技術</h2>
            <p>あ</p>
        </div>
    </div>
</body>
</html>
